@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap');

body {
    background-color: #ffffff; /* พื้นหลังสีฟ้า */
    color: black; /* เปลี่ยนตัวหนังสือเป็นสีดำ */
    font-family: 'Sarabun', sans-serif; /* ใช้ฟอนต์ Sarabun */
}

/* กำหนดรูปแบบสำหรับ grid-container */
.grid-container {
    display: flex;
    flex-wrap: wrap; /* ให้มีการพับบรรทัดเมื่อพื้นที่ไม่พอ */
    justify-content: space-around; /* จัดระยะระหว่าง element */
    padding: 20px;
}

/* เพิ่มกรอบให้แต่ละ section */
section {
    border: 2px solid black; /* เปลี่ยนกรอบเป็นสีดำ */
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #f8f8f8; /* พื้นหลังของแต่ละ section */
    width: calc(30% - 40px); /* ทำให้ความกว้างเป็น 30% ของ container */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* เพิ่มเงาให้กับกรอบ */
    flex: 1 0 calc(30% - 20px); /* ให้แต่ละ section มีความกว้างประมาณ 30% */
}

/* กำหนดสไตล์สำหรับ header */
header {
    text-align: center;
    padding: 20px;
    background-color: #700808; /* พื้นหลังสีฟ้าเข้ม */
    border-bottom: 4px solid rgb(18, 15, 15);
}

/* สไตล์สำหรับ h1 และ p ใน header */
h1 {
    color: black; /* เปลี่ยนเป็นสีดำ */
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2, p {
    color: black; /* เปลี่ยนเป็นสีดำ */
}

/* สไตล์สำหรับแต่ละรูปภาพ */
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

/* สไตล์สำหรับ footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #e9a24a; /* พื้นหลังสีฟ้าเข้ม */
    border-top: 4px solid black; /* เปลี่ยนกรอบบนเป็นสีดำ */
    color: black; /* เปลี่ยนตัวหนังสือใน footer เป็นสีดำ */
}

/* ลิงก์ใน section */
section a {
    text-decoration: none; /* ลบขีดเส้นใต้ */
    color: black; /* เปลี่ยนสีของลิงก์เป็นสีดำ */
}

section a:hover {
    text-decoration: underline; /* ขีดเส้นใต้เมื่อวางเมาส์ */
}

/* สไตล์สำหรับกรอบรูปภาพ */
.image-container {
    border: 2px solid black; /* กรอบสีดำ */
    padding: 10px; /* ระยะห่างระหว่างกรอบและรูปภาพ */
    border-radius: 8px; /* ทำมุมกรอบให้กลม */
    display: inline-block; /* ทำให้กรอบยืดหยุ่นตามขนาดของรูปภาพ */
    margin: 20px auto; /* เพิ่มระยะห่างด้านบนและด้านล่าง และจัดกลาง */
    background-color: #f8f8f8; /* พื้นหลังของกรอบ */
}

.image-container img {
    max-width: 60%; /* ปรับขนาดความกว้างสูงสุดเป็น 60% ของพื้นที่ว่าง */
    height: auto; /* ให้ความสูงเป็นอัตโนมัติตามอัตราส่วน */
    margin: 0 auto; /* จัดกลางรูปภาพ */
    display: block; /* เปลี่ยนเป็นบล็อกเพื่อจัดกลาง */
}
